/*  
    #212121
    #2196F3
    #000000
    #FFFFFF
    rgba(255, 255, 255, 0,6)
    line height auto = 1.2
    line height / font size = *line height
    'Raleway'
    button font family inherit 
*/
:root {
  --primary-txt-color: #757575;
  --title-txt-color: #212121;
  --accent-txt-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --footer-secondary-color: rgba(255, 255, 255, 0, 6);
  --bg-main-color: #2f303a;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-white-color);
  color: var(--primary-txt-color);
  font-size: 14px;
  line-height: 1.2;
}

ul {
  list-style: none;
}

/* header */
.logo {
  color: var(--primary-black-color);
  text-decoration: none;
  font-size: 26px;
  /* 31 / 26 ~ 1.19 */
  line-height: 1.19;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.logo .logo-accent {
  color: var(--accent-txt-color);
}
.nav-unit a {
  color: var(--title-txt-color);
  text-decoration: none;
}
.nav-unit a:hover,
.nav-unit a:focus {
  color: var(--accent-txt-color);
}

header .contact-tel {
  color: var(--primary-txt-color);
  text-decoration: none;
}
header .contact-tel:hover,
header .contact-tel:active {
  color: var(--accent-txt-color);
}

header .contact-mail {
  color: var(--primary-txt-color);
  text-decoration: none;
}
header .contact-mail:hover,
header .contact-mail:active {
  color: var(--accent-txt-color);
}

/* header end */

.title.hidden-title {
  color: var(--primary-white-color);
}

.title {
  color: var(--title-txt-color);
}

.business-solutions {
  background-color: var(--bg-main-color);
}
.main-header {
  text-align: center;
  color: var(--primary-white-color);
}
.button {
  color: var(--title-txt-color);
  font-family: inherit;
  cursor: pointer;
}
.button:hover {
  color: var(--primary-white-color);
}
.main-button.button {
  color: var(--primary-white-color);
}
.main-button.button:hover {
  color: var(--accent-txt-color);
}

.text {
  line-height: 1.46;
}

.ocupation_pics .title {
  font-size: 36px;
  /* line height 42 / font size 36 = ~1.17 */
  line-height: 1.17;
  text-align: center;
}

.team .title {
  font-size: 36px;
  /* line height 42 / font size 36 = ~1.17 */
  line-height: 1.17;
  text-align: center;
}

.team-unit .title.unit-name {
  font-size: 16px;
  font-weight: 500;
  /* 19 / 16 ~1.19 */
  line-height: 1.19;
  text-align: left;
}

.team-unit .position {
  font-size: 16px;
  line-height: 1.19;
}

/* footer */

footer {
  background-color: var(--bg-main-color);
}

footer .logo {
  color: var(--primary-white-color);
}

.footer-contacts {
  line-height: 1.46;
}
.footer-contacts a {
  text-decoration: none;
}

address .map-mark {
  color: var(--primary-white-color);
}
address .map-mark:hover,
address .map-mark:focus{
    color: var(--accent-txt-color);
}
address .contact-tel {
  color: var(--footer-secondary-color);
}
address .contact-tel:hover,
address .contact-tel:focus{
    color: var(--accent-txt-color);
}
address .contact-mail:hover,
address .contact-mail:focus {
    color: var(--accent-txt-color);
}
address .contact-mail {
  color: var(--footer-secondary-color);
}

/* footer end */

/* portfolio */

.list-unit h3 {
  color: var(--title-txt-color);
  font-size: 18px;
  font-style: 700;
  line-height: 1.71;
}

.list-unit p {
  font-size: 16px;
  line-height: 1.6;
}

/* portfolio end */
